{
  "root": true,
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest"
      },

      "extends": [
        "@nuxt/eslint-config",

        "plugin:perfectionist/recommended-natural",
        "plugin:perfectionist/recommended-line-length",

        "plugin:sonarjs/recommended",

        "@vue/eslint-config-prettier/skip-formatting",
        "@vue/eslint-config-typescript",

        "plugin:tailwindcss/recommended"
      ],

      "plugins": ["perfectionist", "sonarjs"],
      "files": ["*.vue"],

      "rules": {
        "vue/attributes-order": "off",
        "vue/no-v-html": "off"
      }
    },
    {
      "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest"
      },

      "extends": [
        "@nuxt/eslint-config",

        "plugin:perfectionist/recommended-natural",
        "plugin:perfectionist/recommended-line-length",

        "plugin:sonarjs/recommended"
      ],

      "plugins": ["perfectionist", "sonarjs", "@typescript-eslint"],
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",

      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error"
      }
    }
  ]
}
