{
  "root": true,
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest"
      },
      "extends": [
        "eslint:recommended",
        "plugin:perfectionist/recommended-natural",
        "plugin:perfectionist/recommended-line-length",
        "plugin:sonarjs/recommended"
      ],
      "plugins": ["perfectionist", "sonarjs", "@typescript-eslint"],
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error"
      }
    }
  ]
}
